.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #474955;
  margin-top: 16px;
}

.pages {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  font-style: italic;
}

.pages a {
  text-decoration: none;
  color: #474955;
}

.pages a:hover {
  color: #7EBC3C;
}

.number {
  margin: 0 7px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

a.current {
  color: #7EBC3C;
}

.btn {
  background-color: transparent;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: #474955;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  color: #7EBC3C;
}

.btn:disabled {
  color: rgba(71, 73, 85, 0.5);
  cursor: initial;
}

@media screen and (max-width: 768px) {
  .number {
    margin: 0 2px;
  }
  .pages {
    font-size: 14px;
  line-height: 19px;
  }
  .btn {
    font-size: 18px;
  line-height: 23px;
  }
}
