.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #474955;
  margin-top: 16px;
}

.pages {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  font-style: italic;
}

.number {
  margin: 0 7px;
  cursor: pointer;
}

.current {
  color: #7EBC3C;
}

.btn {
  background-color: transparent;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: #474955;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .number {
    margin: 0 2px;
  }
  .pages {
    font-size: 14px;
  line-height: 19px;
  }
  .btn {
    font-size: 18px;
  line-height: 23px;
  }
}
