.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e3e6ec;
  align-items: stretch;
  color: #474955;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
}

.index {
  width: 115px;
  text-align: center;
  padding: 10px;
}

.title {
  width: 100%;
  border-left: 1px solid #e3e6ec;
  padding: 10px;
}

.text {
  width: 100%;
  padding-left: 11px;
  border-left: 1px solid #e3e6ec;
  padding: 10px;
}
