.block span {
  position: relative;
  cursor: pointer;
  padding-right: 35px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.block span::after {
  position: absolute;
  content: "";
  right: 0;
  top: 7px;
  width: 12px;
  height: 6px;
  background-image: url("./img/sort.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .block span {
    padding-right: 0;
  }
  .block span::after {
    display: none;
  }
}
