.App {
  margin: 0 auto;
  max-width: 1232px;
  width: 100%;
  padding: 30px 80px 20px;
  background: #fff;
  box-shadow: 0px 4px 27px rgba(230, 231, 234, 0.78);
}

@media screen and (max-width: 768px) {
  .App {
    padding: 20px 10px;
  }
}
